html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

:root{
	--font-m: "Montserrat", sans-serif;
	--font-r: "Roboto", serif;
	--red: #ff4e50;
	--white: #fff;
	--dark: #333;
}

body{
	font-size: 16px;
    min-width: 320px;
    position: relative;
    font-family: Montserrat,sans-serif;
    overflow-x: hidden;
	color: var(--dark);
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

.main-head{
	background-image: url(../img/background-mobile.jpg);
	background-size: cover;
	background-position: top center;
	min-height: 540px;
	overflow: hidden;
	padding-top: 30px;
}

.go-in-wrap{
	margin-bottom: 120px;
	text-align: center;
}

.logo-wrap{
	display:flex;
	justify-content: center;
	margin-bottom: 36px;
}

.sign-up,
.log-in{
	color: var(--white);
	border: 2px solid transparent;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 700;
}

.sign-up:hover,
.log-in:hover{
	border: 2px solid var(--white);
	border-radius: 20px;
	text-decoration: none;
	color: var(--white);
	padding: 7px 15px;
}

.title-head,
.subtitle-head{
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--white);
}

.subtitle-head{
	margin-bottom: 10px;
	margin-left: -5px;
	margin-right: -5px;
}

.head-descr{
	font-family: var(--font-r);
	font-size: 18px;
	color: var(--white);
	padding: 0 10px 0 10px;
}

.head-btn,
.partners-btn{
	width: 280px;
	font-weight: 700;
	font-size: 15px;
	border: 2px solid var(--red);
	border-radius: 25px;
	padding: 14px 0;
}

.head-btn{
	background-color: var(--red);
	color: var(--white);
}

.partners{
	min-height: 510px;
}

.partners-btn{
	background-color: var(--white);
	color: var(--red);
	margin-bottom: 56px;
}

.head-btn:hover{
	background-color: var(--white);
	color: var(--red);
}

.partners-btn:hover{
	background-color: var(--red);
	color: var(--white);
}

.head-btn-wrap{
	margin-bottom: 138px;
}

.partners{
	overflow: hidden;
}

.partners-title{
	padding-top: 74px;
	font-family: var(--font-m);	
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 14px;
}

.card{
	border: none;
}

.img-wrap{
	background-repeat: no-repeat;
	position: relative;
	width: 122px;
	height: 122px;
	margin: 0 auto;
	margin-bottom: 42px;
}

.card-icon{
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 41px;
	width: 41px;
}

.card-1{
	background-image: url(../img/icon-tv.png);
}

.card-2{
	background-image: url(../img/icon-chemical.png);
}

.card-3{
	background-image: url(../img/icon-tea.png);
}

.card-4{
	background-image: url(../img/icon-fly.png);
}

.card-link:hover{
	text-decoration: none;
}

.card-img{
	margin: 0 auto;
	width: 122px;
	height: 122px;
	overflow: hidden;
	border-radius: 50%;
}

.card-name{
	font-family: var(--font-m);
	font-weight: 700;
	font-size: 14px;
	color: var(--dark);
	margin: 0;
	padding-top: 18px;
	text-align: center;
}

.card-description{
	font-family: var(--font-r);
	font-size: 14px;
	line-height: 1.2;
	color: #858585;
	margin-bottom: 30px;
	text-align: center;
	padding: 0 10px;
}
